#будет игнорироваться каталог tmp
tmp/
#будут игнорироваться файлы заканчивающиеся суффиксами _old
*_old
#будут игнорироваться файлы заканчивающиеся суффиксами _backup
*_backup
#проигнорировать Thumbs.db
Thumbs.db
#проигнорировать .DS_Store
.DS_Store